/* Mobile-first : ces styles s'appliquent d'abord aux mobiles */

:root {
     --login-primary-color: #0d6efd;
     --login-text-color: #333;
     --login-border-radius: 8px;
 }

body {
    background-color: #f8f9fa; /* Fond doux et clair */
}

.header-button {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: var(--login-border-radius);
    border:none;
}

.menu-icon {
    height: 40px; /* Taille cohérente pour les icônes */
    width: 40px;
}

.header-icon {
    height: 32px;
    width: 32px;
}

.big-menu-icon {
    height: 40px;
    width: 120px;
}

.profile-button {
    height: 60px;
    width: 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Styles généraux */
.card {
    border: none;
    border-radius: var(--login-border-radius);
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scrollable-container {
    max-height: 100vh; /* Hauteur maximale pour le défilement */
    overflow-y: auto; /* Activer le défilement vertical */
}

.access-denied-card {
    text-align: center;
    padding: 2rem;
    border: none;
    border-radius: var(--login-border-radius);
}

.access-denied-icon {
    font-size: 3rem;
    color: var(--login-primary-color);
    margin-bottom: 1rem;
}

.access-denied-text {
    color: #666;
    font-size: 1rem;
}

.access-denied-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--login-text-color);
    margin-bottom: 1rem;
}

.logo {
    max-width: 160px;
    margin: 0 auto;
    display: block;
}
.title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--login-text-color);
    margin-bottom: 1.5rem;
}
.error {
    font-size: 0.9rem;
    font-weight: 500;
}
.input-group {
    margin-bottom: 1.25rem;
}
.input {
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: var(--login-border-radius);
    height: auto;
}
.input:focus {
    box-shadow: none;
    border-color: var(--login-primary-color);
}
.checkbox-group {
    text-align: left;
    font-size: 0.9rem;
}
.buttons {
    margin-top: 1.5rem;
}
.button {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: var(--login-border-radius);
    font-weight: 500;
}

/* Page de connexion */
.login-card {
    @extend .card;
}
.login-logo {
    @extend .logo;
}
.login-title {
    @extend .title;
}
.login-error {
    @extend .error;
}
.login-input-group {
    @extend .input-group;
}
.login-input {
    @extend .input;
}
.login-checkbox-group {
    @extend .checkbox-group;
}
.login-buttons {
    @extend .buttons;
}
.login-button {
    @extend .button;
}

/* Page de création de compte */
.account-creation-card {
    @extend .card;
}
.account-creation-logo {
    @extend .logo;
}
.account-creation-title {
    @extend .title;
}
.account-creation-error {
    @extend .error;
}
.account-creation-input-group {
    @extend .input-group;
}
.account-creation-input {
    @extend .input;
}
.account-creation-checkbox-group {
    @extend .checkbox-group;
}
.account-creation-buttons {
    @extend .buttons;
}
.account-creation-button {
    @extend .button;
}

/* Tablettes et plus */
@media (min-width: 768px) {
    .logo,
    .account-creation-logo,
    .login-logo {
        max-width: 200px;
    }
    .title,
    .account-creation-title,
    .login-title {
        font-size: 1.8rem;
    }
    .input,
    .account-creation-input,
    .login-input,
    .button,
    .account-creation-button,
    .login-button {
        font-size: 1.1rem;
    }
    .checkbox-group,
    .account-creation-checkbox-group,
    .login-checkbox-group {
        font-size: 1rem;
    }
    .menu-button{
        font-size: 1.5rem;
    }
    .access-denied-icon {
        font-size: 4rem;
    }
    .access-denied-title {
        font-size: 2rem;
    }

}

/* Grands écrans */
@media (min-width: 992px) {
    .card,
    .account-creation-card,
    .login-card {
        max-width: 520px;
    }
    .container{
        max-width: 500px;
    }
    .access-denied-card {
        max-width: 500px;
        margin: 0 auto;
    }

}