<!DOCTYPE html>
<html>
<%-include('base')-%>

<body>


<body class="d-flex justify-content-center align-items-center">
<div class="col-md-12 text-center">
    <h1>404</h1>
    <h2>Impossible de trouver la page</h2>
    <p>
        Désolé, la page que vous recherchez n'existe pas ou a été déplacé.
    </p>
</div>
</body>

<%- include('scripts')-%>
</html>