<!DOCTYPE html>
<html>
<%-include('base')-%>

<body>


<body class="d-flex justify-content-center align-items-center">
<div class="col-md-12 text-center">
    <h1>Erreur <%=error%></h1>
    <h2>Une erreur est survenue</h2>
    <p>
        Le serveur n'a pas pu répondre à votre requête merci de contacter un administrateur.
    </p>
</div>
</body>

<%- include('scripts')-%>
</html>