<header id="header" class="py-1 border-bottom sticky-top bg-white">
    <div class="container-fluid py-1">
        <div class="d-flex align-items-center justify-content-between position-relative mb-2">
            <button class="btn header-button position-absolute start-0 me-3" onclick="history.back()">
                <svg xmlns="http://www.w3.org/2000/svg" class="header-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
            <h1 class="title text-center w-100 mb-0"><%= pagetitle%></h1>
        </div>
    </div>

</header>