<header id="user_header" class="py-3 border-bottom">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <a href="/">
                <img src="style/images/logo.png" alt="Logo" width="70,92" height="59,34">
            </a>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <div class="d-flex align-items-center justify-content-end me-5">
                <a class="link-primary link-underline-opacity-0 mx-2" href="/stock">Stock</a>
                <a class="link-primary link-underline-opacity-0 mx-2" href="/IO">Entrée/Sortie</a>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <iconify-icon icon="mdi:account" alt="account" class="rounded-circle" width="32" height="32"></iconify-icon>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="/profil">Profil : <%=username %> </a></li>
                    <% if (admin === 1) {%>
                        <%- include('adminHeaderComponent')-%>
                    <% } %>
                    <hr class="dropdown-divider">
                    <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>