<!DOCTYPE html>
<html>
<%- include('base')-%>

<body>
<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="w-100 text-center">
        <!-- Bouton Entrer -->
        <button class="btn menu-button bg-primary text-white w-100 my-2 d-flex flex-column align-items-center justify-content-center">
            <img src="../style/images/Entrer.png" alt="Entrer" class="big-menu-icon my-2">
            <span>Entrer</span>
        </button>

        <!-- Boutons Admin et Stock -->
        <div class="d-flex justify-content-between w-100 my-2">
            <button class="btn menu-button bg-danger text-white w-50 me-2 d-flex flex-column align-items-center justify-content-center">
                <img src="../style/images/Admin.png" alt="Admin" class="menu-icon my-2">
                <span>Admin</span>
            </button>
            <button class="btn menu-button bg-warning text-dark w-50 ms-2 d-flex flex-column align-items-center justify-content-center">
                <img src="../style/images/Stock.png" alt="Stock" class="menu-icon my-2">
                <span>Stock</span>
            </button>
        </div>

        <!-- Bouton Sortir -->
        <button class="btn menu-button bg-success text-white w-100 my-2 d-flex flex-column align-items-center justify-content-center">
            <img src="../style/images/Sortir.png" alt="Sortir" class="big-menu-icon my-2">
            <span>Sortir</span>
        </button>

        <!-- Bouton Scanner -->
        <button class="btn menu-button bg-secondary text-white w-100 my-2 d-flex flex-column align-items-center justify-content-center">
            <img src="../style/images/Scanner.png" alt="Scanner" class="menu-icon my-2">
            <span>Scanner</span>
        </button>
    </div>

    <!-- Bouton Profil en bas -->
    <div class="fixed-bottom d-flex justify-content-center py-3">
        <button class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center profile-button">
            <img src="../style/images/User.png" alt="User" class="menu-icon">
        </button>
    </div>
</div>
</body>
<%- include('scripts')-%>
</html>