<html>
<%-include('base')-%>
<title>Accès Refusé</title>
<% if (redirect) { %>
    <script>setTimeout(()=> {
        const decoder = document.createElement('div');
        decoder.innerHTML = '<%= redirect %>';
        const decodedUrl = decoder.textContent
        const base64Url = btoa(decodedUrl);
        location.href = '/auth/login?redirect=' + encodeURIComponent(base64Url);
        }, 2000);</script>
<% } else { %>
    <script>setTimeout(()=> {location.href = '/';}, 2000);</script>

<% } %>

<body>
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card access-denied-card text-center p-4">
        <div class="access-denied-icon">
            🚫
        </div>
        <h1 class="access-denied-title">Accès Refusé</h1>
        <p class="access-denied-text">Désolé, vous n'avez pas la permission d'accéder à cette page.</p>
    </div>
</div>
</body>

<%- include('scripts')-%>
</html>