<!DOCTYPE html>
<html>
<%-include('base')-%>

<body class="d-flex flex-column min-vh-100 text-center">
<%# include('header')-%>

<div class="form-signin m-auto">
    <div class="position-relative">
        <img src="../style/images/logo.png" class="mb-4" width="236,4" height="197,8" alt="Logo">
    </div>
    <h1 class="h3 mb-3 fw-normal">Demande envoyée avec succées !</h1>
</div>

</body>

<%-include('scripts')-%>
</html>